/* 
    Created on : Apr 16, 2014, 10:29:33 PM
    Author     : hbj
    */
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}

body {
    background-color: rgb(0, 142, 142);
    font-family: '微软雅黑', Arial;
    color: #FFFFFF;
    font-size: 1rem;
}

#background-img {
    top: 0 !important;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(../images/bg.jpg) fixed ;
    background-size: 100% 100%;
}

.ng-view{
    position: relative;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.btn {
    margin-right: .5rem;
    color: #fff;
    background-color: rgba(37, 39, 48, .6);
    padding: 0.7em 1.5em;
    font-size: 1.6rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    display: inline-block;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -ms-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}

.btn:hover {
    background-color: rgba(37, 39, 48, 1);
}
.btn.blue{
    background-color:#6ECFF5;
}
.btn.blue:hover{
    background-color: #1AB8F3;
}

a {
    cursor: pointer;
    color: #9AD7FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input{
    width: 100%;
    background-color: #FFFFFF;
    border: .1rem solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3125em;
    box-sizing: border-box;
    font-size: 1.6rem;
    padding: 0.65em 1em;
}

.translate {
    -webkit-transform:translate(-999rem);
    -webkit-transition: .6s linear;
    -moz-transition: .6s linear;
    -ms-transition: .6s linear;
    -o-transition: .6s linear;
    transition: .6s linear;
}

.h0 {
    height: 0rem;
}
.w0{
    width: 0rem;
}
#login_content{
    max-width: 40rem;
    margin: 15rem auto;
}
form {
    max-width: 40rem;
    padding: 1em;
    background-color: rgba(0,48,70,0.2);
    border-radius: .5rem;
    box-shadow: 0px 0px 0px .1rem rgba(0, 0, 0, 0.1);
}
form .field{
    clear: both;
    margin-bottom: 1.5rem;
}

form .field label {
    margin-bottom: .3rem;
    display: block;
}

#menu img,
.face {
    width: 10rem;
    height: 10rem;
}

.loading-bar {
    width: 0%;
    height: .3rem;
    background-color: #32D88D;
    position: relative;
    transition: width .5s ease-in;
}

#message {
    min-width: 10rem;
    padding: 1.5rem .5rem 1.5rem .5rem;
    opacity: 0;
    text-align: center;
    position: fixed;
    top: 1rem;
    color: #73E064;
    font-weight: 700;
    border-radius: .4rem;
    background-color: rgba(0, 48, 70, .8);
    transition: .4s;
    z-index: 1;
}

.crumbs {
    margin: .3rem;
    background-color: rgba(37, 39, 48, 0.6);
    padding: 1rem;
    color: #a2a2a2;
    border-radius: .4rem;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    transition: .25s linear;
    position: relative;
}

.container:before, body:before,
.container:after, body:before {
    content: "";
    display: table;
}

.container:after, body:after {
    clear: both;
    overflow: hidden;
}

.item {
    width: 21.5%;
    height: auto;
    margin: .3rem;
    border-radius: .4rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    background-color: rgba(37, 39, 48, 0.6);
    transition: opacity 3s linear;
}
.item:hover {
    background-color: rgba(37, 39, 48, 0.8);
}
.item img{
    width: 100%;
    height: 100%;
    float: left;
}
.item .content {
    width: 100%;
    height: 100%;
    padding: .4rem;
    position: absolute;
    box-sizing: border-box;
    font-size: 16px;
}
.item header {
    font-weight: bold;
    color: #ffffff;
    font-size: .8rem;
}
.item footer {
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    font-size: 2rem;
}
.item footer div {
    font-size: 0rem;
}

.face {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    border-radius: .6rem;
}

.left-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(37, 39, 48, 0.6);
}

.loader {
    width: 100%;
    float: left;
    text-align: center;
    background-color: rgba(37, 39, 48, 0.6);
}

.loader > div {
    width: 3.2rem;
    font-size: 1.5rem;
    padding-top: 2.5em;
    display: inline-block;
    background: url(../pic/loader.gif) no-repeat center .5rem;
}

.loader span {
    display: none;
}
/*主页菜单阴影*/
.case-border {
    transition: .1s linear;
}
.case-border:hover {
    -webkit-box-shadow: 0 0 2rem #33FF66;
    -o-box-shadow:  0 0 2rem #074A99;
    -moz-box-shadow: 0 0 2rem #074A99;
    box-shadow: 0 0 2rem #0066ff;
    opacity: .8;
}

/*主页*/
@media screen and (max-width:624px),screen and (max-height:624px){
    #menu-wrapper {
        width: 100%;
        height: auto;
        position: relative;
    }
    .menu {
        width: 10rem;
        height: 10rem;
        border-radius: .6rem;
        position: absolute;
    }
    #pig-canvas {
        display: none;
    }
    #menu1 {
        background-image: url(../images/animation.jpg);
    }
    #menu2 {
        background-image: url(../images/comic.jpg);
    }
    #menu3 {
        background-image: url(../images/game.jpg);
    }
    #menu4 {
        background-image: url(../images/music.jpg);
    }
}
@media screen and (min-width:625px) and (min-height:625px){
    #menu-wrapper {
        margin-top: 3rem;
        width: 500px;
        height: 500px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        transition: .3s linear;
        /*旋转*/
        -webkit-animation-name: spin;
        -webkit-animation-duration: 50000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 50000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 50000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 50000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .menu {
        width: 20rem;
        height: 20rem;
        border-radius: 10rem;
        display: inline-block;
        position: absolute;
    }
    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    #menu1 {
        background-image: url(../images/animation.jpg);
        top: 20px;
        left: 20px;
    }
    #menu2 {
        background-image: url(../images/comic.jpg);
        bottom: 20px;
        left: 20px;
    }
    #menu3 {
        background-image: url(../images/game.jpg);
        top: 20px;
        right: 20px;
    }
    #menu4 {
        background-image: url(../images/music.jpg);
        bottom: 20px;
        right: 20px;
    }
    #pig-canvas {
        position: fixed;
        bottom: 0px !important;
        width: 100%;
        height: 64px;
        left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
        margin: 0 auto;
    }
    .topic-ul {
        list-style: none;
        margin: 10px;
    }
    .item {
        width: 18.6%;
    }

    .item .content{
        padding: .8rem;
    }

    .item header {
        font-size: 1.5rem;
    }
    .item footer {
        font-size: 2rem;
    }
    .item footer div {
        font-size: 1.6rem;
    }

    .face {
        width: 100px;
        height: 100px;
    }

    .left-panel {
        margin: 10px;
    }

    .post-panel {
        margin: 10px;
    }

    .loader {
        margin-left: 10px;
        margin-right: 10px;
    }

    .loader > div {
        width: auto;
        padding-top: 3em;
    }

    .loader span {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
    .item {
        width: 18.8%;
    }
    .item header {
        font-size: 1.5rem;
    }
    .item footer {
        font-size: 3rem;
    }
    .item footer div {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1160px;
    }
    .item {
        width: 19.1%;
    }
    .item header {
        font-size: 2rem;
    }
    .item footer {
        font-size: 4rem;
    }
    .item footer div {
        font-size: 1.6rem;
    }

    .left-panel {
        float: left;
        width: 40%;
    }

    .post-panel {
        float: right;
        width: 56%;
    }
}

.category-pic {
    float: left;
    margin-right: 11px;
}

.category-text {
    height: auto;
    text-align: left;
    overflow: hidden;
}

.category-text a {
    text-decoration: none;
    color: #fff;
}

.category {
    height: 100%;
    padding: 8px;
}

/*????*/
.topic-ul {
    list-style: none;
    margin-top: 10px;
}

.clearfloat:before,
.clearfloat:after {
    content: "";
    display: table;
}

.clearfloat:after {
    clear: both;
    overflow: hidden;
}

.topic-item {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: rgba(37, 39, 48, 0.6);
}

.topic-left {
    padding: 10px;
    height: 100%;
    float: left;
    vertical-align: top;
    text-align: center;
}

.topic-left p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.topic-right {
    max-width: 1054px;
    padding: 10px;
    overflow: hidden;
}

.topic-right div {
    margin-top: 3px;
    margin-bottom: 3px;
}

.topic-right img {
    display: block;
    max-width: 100%;
    height: auto;
}

.topic-right h2 a {
    color: #f5f5f5;
    padding: 3px 5px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "微软雅黑";
}

#menu-btn {
    position: fixed;
    background-color: rgba(37, 39, 48, 0.6);
    top: 50px;
    left: 0px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    z-index: 500;
    visibility: visible;
}

#menu-btn:before {
    content: "";
    background: url(../images/list_btn.png) no-repeat no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

#menu {
    position: fixed;
    width: 0px;
    height: auto;
    top: 50px;
    left: 0px;
    display: inline-block;
    background-color: rgba(37, 39, 48, 0.6);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width .4s;
    z-index: 1;
}

#menu #close {
    width: 110px;
    font-family: "微软雅黑";
    font-weight: 700;
    font-size: 2.1rem;
    cursor: pointer;
    transition: .25s linear;
}

#menu .row1 a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#menu #close:hover {
    background-color: rgba(37, 39, 48, 0.8);
}

#menu .row {
    width: 110px;
}

#menu .row img {
    vertical-align: middle;
    cursor: pointer;
}

#menu div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu .splite {
    width: 120px;
    border-bottom: 1px solid gray;
    display: block;
    float: left;
}

/*用户中心*/
.face-panel {
    padding: 10px;
    text-align: center;
    background-color: rgba(37, 39, 48, 0.6);
}

.face-panel a {
    position: relative;
    display: inline-block;
}

.face-panel img {
    width: 100px;
    height: 100px;
}

#changeFace {
    width: 100px;
    height: 103px;
    line-height: 100px;
    position: absolute;
    background-color: rgba(37, 39, 48, 0.8);
    bottom: 3px;
    opacity: 0;
    cursor: pointer;
    transition: opacity .1s linear;
}

.title {
    padding: 10px;
    border-bottom: 1px solid #ababab;
}

.panel {
    padding: 10px;
}

.left-panel .param {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(37, 39, 48, 0.6);
}

.left-panel .inline-block {
    width: 100px;
}

.left-panel .inline-block div:first-child {
    font-size: 3rem;
}

.left-panel .inline-block div:last-child {
    font-size: 1.6rem;
    font-weight: 700;
}

.modal-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
}

.modal {
    max-width: 300px;
    margin: 100px auto;
    background-color: rgba(37, 39, 48, .6);
}

.modal-header,
.modal-body {
    padding: 10px;
}

.modal-header {
    border-bottom: 1px solid #cccccc;
}

.modal-footer {
    text-align: right;
    padding: 10px;
}

.modal-footer #close {
    margin-right: 5px;
}

.progressbar {
    width: 0%;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;;
    color: #000;
    display: none;
    background-color: #73E064;
    font-family: "黑体";
}