<div class="home">
    <div class="col25">
        <div class="item animation">
            <header><a href="/a">动画</a></header>
            <div class="clearfloat" ng-repeat="a in main.a">
                <div class="title"><a href="/a/{{a.post_id._id}}/{{a.post_id.title}}">{{a.post_id.title}}</a></div>
                <article class="left"><a href="/user/{{a.user_id._id}}"><img src="uploads/faces/{{a.user_id.face}}"></a></article>
                <div class="content" compile="a.content"></div>
                <footer class="right">
                    <small>{{a.createDate|dateCustom}}</small>
                    -
                    <small><a href="/a/{{a.post_id._id}}/{{a.post_id.title}}?scrollTo={{a._id}}">详情</a></small>
                </footer>
            </div>
        </div>
        <div class="item game">
            <header><a href="/g">游戏</a></header>
            <div class="clearfloat" ng-repeat="a in main.g">
                <div class="title"><a href="/g/{{a.post_id._id}}/{{a.post_id.title}}">{{a.post_id.title}}</a></div>
                <article class="left"><a href="/user/{{a.user_id._id}}"><img src="uploads/faces/{{a.user_id.face}}"></a></article>
                <div class="content" compile="a.content"></div>
                <footer class="right">
                    <small>{{a.createDate|dateCustom}}</small>
                    -
                    <small><a href="/g/{{a.post_id._id}}/{{a.post_id.title}}?scrollTo={{a._id}}">详情</a></small>
                </footer>
            </div>
        </div>
    </div>
    <div class="col25">
        <div class="item comic">
            <header><a href="/c">漫画</a></header>
            <div class="clearfloat" ng-repeat="a in main.c">
                <div class="title"><a href="/c/{{a.post_id._id}}/{{a.post_id.title}}">{{a.post_id.title}}</a></div>
                <article class="left"><a href="/user/{{a.user_id._id}}"><img src="uploads/faces/{{a.user_id.face}}"></a></article>
                <div class="content" compile="a.content"></div>
                <footer class="right">
                    <small>{{a.createDate|dateCustom}}</small>
                    -
                    <small><a href="/c/{{a.post_id._id}}/{{a.post_id.title}}?scrollTo={{a._id}}">详情</a></small>
                </footer>
            </div>
        </div>
        <div class="item other">
            <header><a href="/o">其他</a></header>
            <div class="clearfloat" ng-repeat="a in main.o">
                <div class="title"><a href="/o/{{a.post_id._id}}/{{a.post_id.title}}">{{a.post_id.title}}</a></div>
                <article class="left"><a href="/user/{{a.user_id._id}}"><img src="uploads/faces/{{a.user_id.face}}"></a></article>
                <div class="content" compile="a.content"></div>
                <footer class="right">
                    <small>{{a.createDate|dateCustom}}</small>
                    -
                    <small><a href="/o/{{a.post_id._id}}/{{a.post_id.title}}?scrollTo={{a._id}}">详情</a></small>
                </footer>
            </div>
        </div>
    </div>
    <div class="col25">
        <div class="item music">
            <header><a href="/m">音乐</a></header>
            <div class="clearfloat" ng-repeat="a in main.m">
                <div class="title"><a href="/m/{{a.post_id._id}}/{{a.post_id.title}}">{{a.post_id.title}}</a></div>
                <article class="left"><a href="/user/{{a.user_id._id}}"><img src="uploads/faces/{{a.user_id.face}}"></a></article>
                <div class="content" compile="a.content"></div>
                <footer class="right">
                    <small>{{a.createDate|dateCustom}}</small>
                    -
                    <small><a href="/m/{{a.post_id._id}}/{{a.post_id.title}}?scrollTo={{a._id}}">详情</a></small>
                </footer>
            </div>
        </div>
    </div>
    <div class="col25 sidebar">
            <div class="case">
                <header><h3>欢迎来到Acgfun</h3></header>
            </div>
            <div class="case recent">
                <header>最新主题</header>
                <div ng-repeat="recent in recents" class="clearfloat">
                    <div class="left"><a href="/user/{{recent.user_id._id}}"><img class="face" ng-src="{{recent.user_id.face?'/uploads/faces/'+recent.user_id.face:'/uploads/faces/default.jpg'}}"></a></div>
                    <div><a href="{{recent.parent_url}}/{{recent._id}}/{{recent.title}}">{{recent.title}}</a></div>
                    <footer class="right">{{recent.createDate|dateCustom}}</footer>
                </div>
            </div>
            <div class="case status clearfloat">
                <header class="text-left">论坛状态</header>
                <div>
                    <header>在线</header>
                    <footer id="onlineMembers">0</footer>
                </div>
                <div>
                    <header>游客</header>
                    <footer id="onlineGuests">0</footer>
                </div>
                <div>
                    <header>用户</header>
                    <footer>{{status.userCount}}</footer>
                </div>
                <div>
                    <header>文章</header>
                    <footer>{{status.postCount}}</footer>
                </div>
                <div>
                    <header>评论</header>
                    <footer>{{status.commentCount}}</footer>
                </div>
            </div>
            <div class="case active">
                <header>活跃用户</header>
                <div class="clearfloat text-left">
                    <div ng-repeat="active in actives">
                        <a href="/user/{{active._id}}">
                            <img src="/uploads/faces/{{active.face}}">
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>
