    <div class="category" ng-repeat="topic in topics">
        <div class="category-author-pic">
            <a href="/user/{{topic.user_id._id}}"><img ng-src="uploads/faces/{{topic.user_id.face}}" src="images/default.jpg" alt="头像"></a>
        </div>
        <div class="category-profile">
            <div class="option">
                <strong>{{topic.replyCount}}</strong>
                <small>回复</small>
            </div>
            <div class="option">
                <strong>{{topic.view}}</strong>
                <small>浏览</small>
            </div>
            <div class="option">
                <div ng-if="topic.commenter.length>0">
                    <a href="/user/{{topic.commenter[0].user_id._id}}">
                        <img ng-src="uploads/faces/{{topic.commenter[0].user_id.face}}" src="images/default.jpg" alt="img">
                    </a>
                    <a href="{{url}}/{{topic._id}}/{{topic.title}}?scrollTo={{topic.commenter[0]._id}}">{{topic.commenter[0].createDate|dateCustom}}</a>
                </div>
                <div ng-if="topic.commenter.length===0">没有评论</div>
                <small>最后回复</small>
            </div>
        </div>
        <div class="category-post">
            <div class="category-post-title">
                <a href="{{url}}/{{topic._id}}/{{topic.title}}">{{topic.title}}</a>
            </div>
            <div class="category-post-time">{{topic.createDate|dateCustom}}</div>
        </div>
    </div>