<div class="panel left">
    <div class="face-panel">
        <div>
             <label>
                <img ng-src="uploads/faces/{{userData.user.face}}" src="images/default.jpg" alt="face">
                <div id="changeFace" ng-click="showModal=true">更换头像</div>
             </label>
        </div>
        <div>{{userData.user.nick}}</div>
    </div>
    <div class="param">
        <div class="inline-block">
            <div class="user-star-count">{{userData.user.star[0]}}</div>
            <div class="user-star-label">收藏</div>
        </div>
        <div class="inline-block">
            <div class="user-post-count">{{userData.count.postCount+userData.count.replyCount}}</div>
            <div class="user-post-label">发表</div>
        </div>
        <div class="inline-block">
            <div class="user-reputation-count">{{userData.user.follow[0]}}</div>
            <div class="user-reputation-label">粉丝</div>
        </div>
    </div>
</div>
<div class="panel right">
    <header>最近发表</header>
    <p>还没有发表任何动态</p>
</div>
</div>
<div class="modal-div" ng-show="showModal">
    <div class="modal">
        <div class="modal-header clearfloat">
            <h3 class="left">上传图片</h3>

            <div class="progressbar"></div>
        </div>
        <div class="modal-body">
            <input type="file" ng-file-select="onFileSelect($files)" accept="image/jpg|image/png">

            <p>只能上传jpg,png文件(最大100kb)</p>
        </div>
        <div class="modal-footer">
            <button id="close" class="btn" ng-click="showModal=false">关闭</button>
            <button id="upload" class="btn" ng-click="submit()">上传</button>
        </div>
    </div>
</div>