<div class="case clearfloat" ng-controller="userFollowCtrl">
    <header>已关注</header>
    <p>
        <ul class="user-group follow">
            <li ng-repeat="user in follows">
                <a href="/user/{{user._id}}">
                    <img src="/uploads/faces/{{user.face}}">
                </a>
                <p class="text-center">{{user.nick}}</p>
            </li>
        </ul>
        <button class="btn right" ng-show="follows.length>20" ng-click="getFollow(skip+1)">更多</button>
    </p>
</div>